<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.knue.commonfoundation.achievement.DegreeCompletionAchievementMapper">
    <resultMap id="StudentMap" type="kr.ac.knue.commonfoundation.achievement.DegreeCompletionStudent"><constructor><arg column="degreeCompletionStudentId" javaType="long"/><arg column="degreeType" javaType="string"/><arg column="studentName" javaType="string"/><arg column="thesisTitle" javaType="string"/><arg column="degreeAwardedDate" javaType="java.time.LocalDate"/></constructor></resultMap>
    <resultMap id="AchievementMap" type="kr.ac.knue.commonfoundation.achievement.DegreeCompletionAchievementRow"><constructor><arg column="achievementId" javaType="long"/><arg column="managementNo" javaType="string"/><arg column="evaluationYear" javaType="string"/><arg column="teacherUserId" javaType="long"/><arg column="teacherName" javaType="string"/><arg column="managementItemCode" javaType="string"/><arg column="occurredDate" javaType="java.time.LocalDate"/><arg column="certificationStatus" javaType="string"/><arg column="hasAttachment" javaType="_boolean"/><arg javaType="java.util.List" select="findStudents" column="achievementId"/></constructor></resultMap>
    <sql id="columns">select achievement_id as "achievementId", management_no as "managementNo", evaluation_year as "evaluationYear", teacher_user_id as "teacherUserId", teacher_name as "teacherName", management_item_code as "managementItemCode", occurred_date as "occurredDate", certification_status as "certificationStatus", (attachment_ref is not null) as "hasAttachment" from degree_completion_achievements</sql>
    <sql id="where"><where>deleted_yn = 'N'<if test="criteria.evaluationYear != null"> and evaluation_year = #{criteria.evaluationYear}</if><if test="criteria.managementNo != null"> and management_no ilike '%' || #{criteria.managementNo} || '%'</if><if test="criteria.teacherName != null"> and teacher_name ilike '%' || #{criteria.teacherName} || '%'</if><if test="criteria.managementItemCode != null"> and management_item_code = #{criteria.managementItemCode}</if><if test="criteria.certificationStatus != null"> and certification_status = #{criteria.certificationStatus}</if></where></sql>
    <select id="list" resultMap="AchievementMap"><include refid="columns"/><include refid="where"/> order by occurred_date desc, achievement_id desc limit #{criteria.limit} offset #{criteria.offset}</select>
    <select id="count" resultType="long">select count(*) from degree_completion_achievements <include refid="where"/></select>
    <select id="findByManagementNo" resultMap="AchievementMap"><include refid="columns"/> where management_no = #{managementNo}</select>
    <select id="findStudents" resultMap="StudentMap">select degree_completion_student_id as "degreeCompletionStudentId", degree_type as "degreeType", student_name as "studentName", thesis_title as "thesisTitle", degree_awarded_date as "degreeAwardedDate" from degree_completion_students where achievement_id = #{achievementId} order by degree_completion_student_id</select>
    <insert id="insertAchievement">insert into degree_completion_achievements (management_no, evaluation_year, teacher_user_id, teacher_name, management_item_code, occurred_date, achievement_detail, certification_status, created_by, updated_by) values (#{managementNo}, #{evaluationYear}, #{teacherUserId}, #{teacherName}, #{managementItemCode}, #{occurredDate}, cast(#{achievementDetail} as jsonb), 'DRAFTING', #{userId}, #{userId})</insert>
    <insert id="insertStudent">insert into degree_completion_students (achievement_id, degree_type, student_name, thesis_title, degree_awarded_date, created_by, updated_by) values (#{achievementId}, #{student.degreeType}, #{student.studentName}, #{student.thesisTitle}, #{student.degreeAwardedDate}, #{userId}, #{userId})</insert>
    <insert id="insertStatusHistory">insert into education_achievement_status_histories (achievement_type, achievement_id, next_status, action_type, processed_by) values ('DEGREE_COMPLETION', #{achievementId}, 'DRAFTING', 'CREATE', #{userId})</insert>
    <insert id="insertChangeHistory">insert into data_change_histories (target_business, target_key, change_type, field_name, after_value, changed_by, change_reason, request_id) values ('degree_completion_achievements', cast(#{achievementId} as text), 'CREATE', 'certification_status', 'DRAFTING', #{userId}, '석·박사 배출 실적 등록', #{requestId})</insert>
</mapper>
