<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.knue.commonfoundation.basic34.EvaluationRuleSetMapper">
    <resultMap id="EvaluationRuleSetRowMap" type="kr.ac.knue.commonfoundation.basic34.EvaluationRuleSetRow">
        <constructor>
            <arg column="ruleSetId" javaType="long"/>
            <arg column="ruleVersionId" javaType="long"/>
            <arg column="versionCode" javaType="string"/>
            <arg column="versionStatus" javaType="string"/>
            <arg column="targetScope" javaType="string"/>
            <arg column="ruleSetName" javaType="string"/>
            <arg column="ruleSetStatus" javaType="string"/>
            <arg column="activeYn" javaType="string"/>
            <arg column="effectiveStartDate" javaType="java.time.LocalDate"/>
            <arg column="effectiveEndDate" javaType="java.time.LocalDate"/>
            <arg column="changeReason" javaType="string"/>
            <arg column="updatedBy" javaType="long"/>
            <arg column="updatedAt" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <sql id="evaluationRuleSetColumns">
        ers.rule_set_id as "ruleSetId",
        ers.rule_version_id as "ruleVersionId",
        erv.version_code as "versionCode",
        erv.version_status as "versionStatus",
        ers.target_scope as "targetScope",
        ers.rule_set_name as "ruleSetName",
        ers.rule_set_status as "ruleSetStatus",
        ers.active_yn as "activeYn",
        ers.effective_start_date as "effectiveStartDate",
        ers.effective_end_date as "effectiveEndDate",
        ers.change_reason as "changeReason",
        ers.updated_by as "updatedBy",
        ers.updated_at as "updatedAt"
    </sql>

    <sql id="evaluationRuleSetJoins">
        from evaluation_rule_sets ers
        inner join evaluation_rule_versions erv on erv.rule_version_id = ers.rule_version_id
    </sql>

    <sql id="evaluationRuleSetFilters">
        <where>
            <if test="criteria.ruleVersionId != null">
                ers.rule_version_id = #{criteria.ruleVersionId}
            </if>
            <if test="criteria.normalizedTargetScope != null">
                and ers.target_scope = #{criteria.normalizedTargetScope}
            </if>
            <if test="criteria.normalizedRuleSetName != null">
                and ers.rule_set_name ilike concat('%', #{criteria.normalizedRuleSetName}, '%')
            </if>
            <if test="criteria.normalizedRuleSetStatus != null">
                and ers.rule_set_status = #{criteria.normalizedRuleSetStatus}
            </if>
            <if test="criteria.normalizedActiveYn != null">
                and ers.active_yn = #{criteria.normalizedActiveYn}
            </if>
            <if test="criteria.normalizedKeyword != null">
                and (ers.target_scope ilike concat('%', #{criteria.normalizedKeyword}, '%')
                    or ers.rule_set_name ilike concat('%', #{criteria.normalizedKeyword}, '%')
                    or ers.rule_set_status ilike concat('%', #{criteria.normalizedKeyword}, '%'))
            </if>
        </where>
    </sql>

    <select id="listEvaluationRuleSets" resultMap="EvaluationRuleSetRowMap">
        select <include refid="evaluationRuleSetColumns"/>
        <include refid="evaluationRuleSetJoins"/>
        <include refid="evaluationRuleSetFilters"/>
        order by ers.effective_start_date desc, ers.rule_set_name, ers.target_scope
        limit #{criteria.safeSize} offset #{criteria.offset}
    </select>

    <select id="countEvaluationRuleSets" resultType="long">
        select count(*)
        <include refid="evaluationRuleSetJoins"/>
        <include refid="evaluationRuleSetFilters"/>
    </select>

    <select id="findRuleVersionStatus" resultType="string">
        select version_status
        from evaluation_rule_versions
        where rule_version_id = #{ruleVersionId}
    </select>

    <select id="findByKey" resultMap="EvaluationRuleSetRowMap">
        select <include refid="evaluationRuleSetColumns"/>
        <include refid="evaluationRuleSetJoins"/>
        where ers.rule_version_id = #{request.ruleVersionId}
          and ers.target_scope = #{request.targetScope}
          and ers.rule_set_name = #{request.ruleSetName}
          and ers.effective_start_date = #{request.effectiveStartDate}
          and ers.effective_end_date = #{request.effectiveEndDate}
    </select>

    <insert id="upsertEvaluationRuleSet">
        insert into evaluation_rule_sets (rule_version_id, target_scope, rule_set_name, rule_set_status, active_yn, effective_start_date, effective_end_date, change_reason, created_by, updated_by)
        values (#{request.ruleVersionId}, #{request.targetScope}, #{request.ruleSetName}, #{request.ruleSetStatus}, #{request.activeYn}, #{request.effectiveStartDate}, #{request.effectiveEndDate}, #{request.changeReason}, #{updatedBy}, #{updatedBy})
        on conflict (rule_version_id, target_scope, rule_set_name, effective_start_date, effective_end_date)
        do update set rule_set_status = EXCLUDED.rule_set_status,
                      active_yn = EXCLUDED.active_yn,
                      change_reason = EXCLUDED.change_reason,
                      updated_at = CURRENT_TIMESTAMP,
                      updated_by = EXCLUDED.updated_by
    </insert>

    <insert id="insertChangeHistory">
        insert into data_change_histories (target_business, target_key, change_type, field_name, before_value, after_value, changed_by, change_reason, request_id)
        values (#{targetBusiness}, #{targetKey}, #{changeType}, #{fieldName}, #{beforeValue}, #{afterValue}, #{changedBy}, #{changeReason}, #{requestId})
    </insert>
</mapper>
