<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.knue.commonfoundation.studentguidance.StudentGuidanceAchievementMapper">
  <resultMap id="row" type="kr.ac.knue.commonfoundation.studentguidance.StudentGuidanceAchievementRow"><constructor><arg column="achievementId" javaType="long"/><arg column="managementNo" javaType="string"/><arg column="teacherName" javaType="string"/><arg column="managementItemCode" javaType="string"/><arg column="organizationCode" javaType="string"/><arg column="occurredDate" javaType="java.time.LocalDate"/><arg column="guidanceStartDate" javaType="java.time.LocalDate"/><arg column="guidanceEndDate" javaType="java.time.LocalDate"/><arg column="studentCount" javaType="int"/><arg column="achievementDetail" javaType="string"/><arg column="certificationStatus" javaType="string"/><arg column="attachmentRef" javaType="string"/><arg column="updatedAt" javaType="java.time.LocalDateTime"/><arg column="updatedBy" javaType="long"/></constructor></resultMap>
  <sql id="columns">select a.achievement_id as "achievementId", concat('SG-', a.achievement_id) as "managementNo", personnel.name as "teacherName", a.management_item_code as "managementItemCode", a.organization_code as "organizationCode", a.occurred_date as "occurredDate", a.guidance_start_date as "guidanceStartDate", a.guidance_end_date as "guidanceEndDate", a.student_count as "studentCount", a.achievement_detail as "achievementDetail", a.certification_status as "certificationStatus", a.attachment_ref as "attachmentRef", a.updated_at as "updatedAt", a.updated_by as "updatedBy" from student_guidance_achievements a join users u on u.user_id=a.created_by join korus_personnel_snapshots personnel on personnel.employee_no = u.employee_no</sql>
  <select id="list" resultMap="row"><include refid="columns"/> where a.deleted_yn='N' order by a.occurred_date desc, a.achievement_id desc limit #{limit} offset #{offset}</select><select id="count" resultType="long">select count(*) from student_guidance_achievements where deleted_yn='N'</select><select id="find" resultMap="row"><include refid="columns"/> where a.achievement_id=#{achievementId} and a.deleted_yn='N'</select>
  <insert id="insert" useGeneratedKeys="true" keyProperty="request.achievementId" keyColumn="achievement_id">insert into student_guidance_achievements(evaluation_year,management_item_code,organization_code,occurred_date,guidance_start_date,guidance_end_date,student_count,achievement_detail,attachment_ref,certification_status,created_by,updated_by,change_reason) values(#{year},#{request.managementItemCode},#{request.organizationCode},#{request.occurredDate},#{request.guidanceStartDate},#{request.guidanceEndDate},#{request.students.size},#{request.achievementDetail},#{request.attachmentRef},#{request.certificationStatus},#{userId},#{userId},#{request.changeReason})</insert>
  <update id="update">update student_guidance_achievements set management_item_code=#{request.managementItemCode},organization_code=#{request.organizationCode},occurred_date=#{request.occurredDate},guidance_start_date=#{request.guidanceStartDate},guidance_end_date=#{request.guidanceEndDate},student_count=#{request.students.size},achievement_detail=#{request.achievementDetail},attachment_ref=#{request.attachmentRef},certification_status=#{request.certificationStatus},updated_at=current_timestamp,updated_by=#{userId},change_reason=#{request.changeReason} where achievement_id=#{request.achievementId} and deleted_yn='N'</update>
  <delete id="deleteStudents">delete from student_guidance_students where achievement_id=#{achievementId}</delete><insert id="insertStudent">insert into student_guidance_students(achievement_id,student_no,student_name) values(#{achievementId},#{student.studentNo},#{student.studentName})</insert><select id="findStudents" resultType="kr.ac.knue.commonfoundation.studentguidance.StudentGuidanceStudentRequest">select student_no as "studentNo",student_name as "studentName" from student_guidance_students where achievement_id=#{achievementId} order by student_guidance_student_id</select><select id="countExistingStudent" resultType="int">select count(*) from student_guidance_students s join student_guidance_achievements a on a.achievement_id=s.achievement_id where s.student_no=#{studentNo} and a.occurred_date=#{occurredDate} and a.deleted_yn='N'</select>
</mapper>
